@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
*{
    font-family: 'Inter', sans-serif;
    background-color: black;

}
body{
    height: 100vh;
    background-color: black;

    overflow-y: scroll;
}
body::-webkit-scrollbar{
    display: none;
}
@keyframes gold {
    from{
        scale: 0;
    }to{
        scale: 1;
         }
}

#gold{
    position: absolute;
    width: 20%;
    height: 20%;
    left: -1%;
    top: 2%;
    background: none;

}
@keyframes vama {
    from{
        left: 0;

    }
    to{
        left: 24.9%
    }
}
.vama{
    background: none;
    animation: gold 2s;
}
#logo {
    animation: gold 2s;
    position: absolute;
    width: 21.1798152%;
    height: 45.078125%;
    left: 40%;
    top: 7%;
    background: none;

    z-index: 2;
}
@keyframes ira {
    from{
        width: 0;
    }to{
        width: 23%;
         }
}

{

}
#ira{
    animation: ira 2s;
    position: absolute;
    height: 0.5%;
    width: 23%;
    top: 36%;
    left: 0;
    background-color: #FA981D;
}
.home{
    position: relative;
}
#twitter{
    background: none;
}
#bc{
    
    width: 100vw;
    height: 98vh;
    opacity: 50%;
}
.home>h1{
    font-family: 'Inter', sans-serif;
    background: none;
    position: absolute;
    left: 24.9%;
    top:36.5%;
    font-size: 80px;
    font-weight: bold;
    z-index: 2;
}
.home>h1>.topic{
    color: #FA981D;
}
@keyframes hellow {
    from{
        top: 0;
    }to{
         left: 24.9%;
     }

}
.home>h3{
    font-family: 'Inter', sans-serif;
    background: none;
    position: absolute;
    width: 40%;
    top:34%;
    left: 24.9%;
    font-size: 40px;
    font-weight: bold;
    z-index: 2;
    animation: hellow 2s;
}
.home>h6{
    font-family: 'Inter', sans-serif;
    background: none;
    position: absolute;
    left: 24.9%;
    top:53%;
    font-size: 30px;
    font-weight: bold;
}
.so{
    position: absolute;
    display: flex;
    background: none;
    gap: 10px;
    top: 65%;
    left: 40%;
}
.so>a{
    height: 45%;
    width: 45%;
    background: none;
}
.hire-me{
    font-family: 'Inter', sans-serif;
    position: absolute;
    left: 24.9%;
    top:63%;
    background: -webkit-linear-gradient(top, #FA981D,#894C00);
    cursor: pointer;
    border: none;
    width: 214px;
    height: 57px;
    border-radius: 45px;
    font-size: 30px;


}
.hire-me:active{
    scale: 0.9;
    transition: 0.2s;
}
/*End of Home*/



/*About Me*/
.aboutMe{
    position: relative;
}

.aboutMe>section>h2{
    font-family: 'Inter', sans-serif;
    position: absolute;
    left: 4%;
    top:4%;
    background: none;
    font-size: 65px;
}
#p1{
    font-family: 'Inter', sans-serif;
    position: absolute;
    font-size: 35px;
    top: 15%;
    background: none;
    text-align: center;
}
.photo{
    background-image: url("images/IMG_20230417_230824_655.jpg");
    position: absolute;
    width:24%;
    height: 60%;
    top: 30%;
    left: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    border-radius: 10px;
}
#exp{
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    background: none;
    position: absolute;
    font-weight: normal;
    left: 40%;
    top: 70%;
}
#kotuwa{
    position: absolute;
    height: 30%;
    width: 58%;
    top: 37%;
    left: 39%;
    background: rgba(118, 114, 114, 0.6);

    border-radius: 10px;
}

#dree{
    position: absolute;
    top: 50%;
    left: 2%;
}
#ul{

    position: absolute;
    top: 10%;
}

#ul{

    position: absolute;
    left: 2%;
    top: 10%;
    background: none;
}
#ul2{
    position: absolute;
    top: 60%;
    left: 2%;
}
.cvButton{
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    border-radius: 45px;
    position: absolute;
    top: 50%;
    left: 85%;
    color: white;
    background-color: black;
    width: 150px;
    height: 30px;
    border: none;
}
#kotuwa2>ul{
    background: none;
    position: absolute;
    left: 0;
    top: -25%

}
#kotuwa2{
    position: absolute;
    height: 10%;
    width: 58%;
    background: rgba(118, 114, 114, 0.6);

    top: 80%;
    left: 39%;
    border-radius: 10px;
}
#education{
    font-size: 50px;
    background: none;
    position: absolute;
    font-weight: normal;
    left: 40%;
    top: 29%;
}
#kotuwa>h3{
    position: absolute;
    left: 2%;
    color: #CD9A5A;
    background: none;
    font-size: 35px;
}
#kotuwa>ul{
    background: none;

}
#kotuwa>ul>li{
    font-size: 28px;
    margin: 20px;
    background: none;
}


#kotuwa2>ul>li{
    font-size: 28px;
    margin: 30px;
    background: none;
}
#kotuwa2>h3{
    color: #CD9A5A;
    background: none;
    font-size: 35px;
}
/*End of About ME*/



/*My specification*/
.specifationbefore{
    position: relative;
    height: 100vh;
    width: 100vw;
}

.specifation> h2{
    position: absolute;
    top: 0;
    font-weight: bold;
    font-size: 60px;
    margin-left: 4%;
    margin-top: 4%;
    background: none;
}
.spesify{
    position: absolute;
    display: flex;
    top: 14%;
    left:10%;
    background: none;
}
.specifation>h1{
    position: absolute;
    left: 0;
    top:  65%;
    font-weight: bold;
    font-size: 60px;
    margin-left: 4%;
    background: none;
}




#kotuwa4{
    position: absolute;

    height: 10%;
    width: 81%;
    left: 7%;
    top: 80%;
    background-color: rgb(118, 114, 114, 0.6);
    border-radius: 10px;
    display: flex;
}
#kotuwa3{
    position: relative;
    height: 45%;
    width: 75%;
    left: 8%;
    top: -80%;
    background-color: rgb(118, 114, 114, 0.6);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius: 10px;
}
#kotuwa3>div>p{
    background: none;
    width: 50%;
}
#kotuwa3>div>h4{
    background: none;
    width: 80%;
}
#kotuwa3>div{
    margin-top: 20%;
    background: none;
    margin-left: 30%;
    height: 80%;


}

/*End of Sepefication*/


/*Project Zone*/
.projectZone>div>h1{
    position: absolute;
    top: -3vh;
    left: 3%;
    font-weight: bold;
    background: none;
    font-size: 60px;

    margin-left: 4%;
    z-index: 2;
}
#raumkotuwa{
    position: absolute;
    top: 8%;
    left: 5%;
    width: 30%;
    height: 10%;
    background: rgba(118, 114, 114, 0.8);

    border-radius: 45px;
}
.projectZone>section{
    width: 80%;
    position: absolute;
    top:27%;
    left:0;
    right: 0;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;

    background: none;
    /*justify-content: ;*/
}
#assiments{
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
   border: none;
    background-color: black;
    top: 60vh;
    border-radius: 45px;
    width: 10vw;
    animation: assigment 0.5s;
    height: 28px;
}

 #assiments:hover {
   border:2px solid white;
     transition: 1s;
     transform: scale(1.2);
     cursor: pointer;

}
#assiments:not(:hover){
border: none;
    transform: scale(1);
    transition: 1s;
}
.projectZone{
    position: relative;

    height: 100vh;
}
.projectZone>img{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 98vh;
    opacity: 25%;
    z-index: 0;
}


.projectZone>section>div>h4{
    font-size: 35px;
    margin: 10px;
    background: none;
}
.projectZone>section>div>h4>u{
    background: none;
}
.projectZone>section>div>h4>u>b{
    background: none;
}
.projectZone>section>div>p{
    font-size: 25px;
    margin: 10px;
    background: none;
}
.projectZone>section>div{
    height: 80%;
    width: 80%;
    background: none;
}
.projectZone>section>div>img{
    height: 80%;
    width: 100%;
}
/*End of Project Zone*/



/*Form*/
.form{
    position: relative;
}
.form>section>h1{
    position: absolute;
    top: -5%;
    left: 23%;
    font-size: 80px;
    text-align: center;
    margin-bottom: 136px;
    background: none;

}
.form{
    background-image: url("images/Desktop-LG-3840x2160-BG.jpg");

    position: relative;

    height: 100vh;
    width: 100vw;
}
.form>section{
    z-index: 2;
    position: relative;
    width: 50%;
    height: 50%;
    left: 2%;
    top: 15%;
    background: none;
}
.form>section>address>a:nth-child(1){
    z-index: 2;
    position: absolute;
    left: 25%;
    top: 50%;
    margin-bottom: 10px;
    background: none;

}







.form>section>h5{
    z-index: 2;
    position: absolute;
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    top: 73%;
    left: 40%;
    background: none;
}
.form>section>address{
    z-index: 2;
    font-size: 40px;
    background: none;

}
.form>form>fieldset>legend{
    font-size: 50px;
    background: none;
}
.form>form{
    position: absolute;
    left: 55%;
    top: 10%;
    height: 86%;
    width: 40%;
    background: none;
}
.form>form>fieldset>input{
    background: #36313199;
    margin: 20px;
    color: white;

}
.form>form>fieldset{
    height: 80%;
    width: 70%;
    margin: 20px;
    color: white;

}
.socials{
    position: absolute;
    left: 38%;
    top: 115%;
    background: none;
}
.socials>a{
    background: none;
    margin: 20px;

}
#email{
    position: absolute;
    top: 10%;
    height: 4%;
    width: 35%;
    border: none;
    left: 36%;
}
/*#anthimakotuwa{*/
/*    z-index: 0;*/
/*    position: absolute;*/
/*    height: 50%;*/
/*    width: 40%;*/
/*    left: 5%;*/
/*    top: 2%;*/
/*    background-color: #767272;*/
/*    border-radius: 45px;*/
/*}*/

/*End of Form*/

.git-button{
    background-color: black;
    border: none;
    border-radius: 45px;
    width: 120px;
    height: 28px;
}


.footer{


    width: 100vw;
    height: 1vh;
    background-position: bottom;
    opacity: 50%;
}
/*footer-button*/
.footer-button{
    position: absolute;
    width: 237px;
    height: 60px;
    border-radius: 45px;
    background-color: #633700;
    border: none;
    left: 25%;
    top: 65%;
}




.background{

    position: relative;
    left: 5%;
    top: 3%;
    height: 100vh;
    width: 100vw;
}
.footer_bottom{
    background: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer_bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
footer span{
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
}
*{
    padding: 0;
    margin: 0;
}
body{

    overflow-x:hidden;
}
*{
    color: white;
    background-color: black;
}
body>section{
    background-color: #363131;
    border-bottom:  20px solid #FA981D;


    width: 100vw;
    height: 100vh;

    box-sizing: border-box;

}


#bc2{
    width: 100vw;
    height: 97.9vh;
    opacity: 50%;
}
.specifation{
    background-color: #363131;
    top: 100px;
}
#bc3{
    width: 100vw;
    height: 98vh;
    opacity: 75%;
}

.left{
    position: absolute;
    height: 100vh;

}



.aboutMe>section>h2>bdi{
    color: #FA981D;
}





.square{
    z-index: 2;
}







body>section>section>div{

}



.specifation{
    height: 97vh;
}


.topic{
    color: #FA981D;
    background: none;
}


.specifation>section>div>h4{
    font-size: 35px;
    margin: 20px;
    width: 18%;
}
.specifation>section>div>p{
    font-size: 25px;
    margin: 20px;
    width: 70%;
}



#kotuwa4>div{
    z-index: 2;
    background: none;
    padding-left: 6%;
    padding-right: 6%;
}

/*#kotuwa5{
    position: relative;
    height: 10%;
    width: 81%;
    left: 7%;
    top: -128%;

    border-radius: 10px;
    display: flex;
}*/
#kotuwa4>div>img {
    background: none;
    width: 6vw;
    height: 9vh;
}
#kotuwa4>div{

}
/*.skillSet{
    position: relative;
    display: flex;
    top: -10%;
    left:5%;
    background: none;
}
.skillSet>div{
    background: none;
    margin-left: 100px;
    margin-right: 100px;

}
.skillSet>div>img{
    width: 97%;
    height: 94%;
    background: none;

}
.spesify>div>img{
    background: none;
}*/

.img1{
    background: none;
}

.topic2{

    background: none;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #CD9A5A;
}



.last_form{
    color: #CD9A5A;
    background: none;
}

#number{
    position: absolute;
    left: 35%;
    top: 70%;
    margin: 10px;
}


#massage{
    border: none;
    height: 30%;
    width: 60%;
    position: absolute;
    left: 5%;
    top: 30%;

}
#subject{
    height: 4%;
    width: 50%;
    position: absolute;
    left: 5%;
    top: 22%;
    border: none;
}
#name{

    position: absolute;
    top: 10%;
    height: 4%;
    border: none;
    left: 5%;
}

section{
    user-select: none;
}












@media all and (max-width:1800px) {
    /*Home page*/
    .home>h3{
        left: 23%;
    }
    .home>h1{
        left: 23%;
    }
    .home>h6{
        left: 23%;
    }
    #ira{

        width: 22%;
    }
    .hire-me{
        left: 23%;
    }

    /*  Specification  */
    #raumkotuwa{
        height: 8vh;
    }
    /* End Specification  */
}
@media all and (max-width:1700px){
    /*  Specification  */
    #kotuwa3>div {

        left: -4vw;
    }
    /*  End Specification  */

/*  Project Zone  */
    #raumkotuwa {


        left: 3.5%;
        width: 35%;


    }
/*  End Project Zone  */
}
    @media all and (max-width:1645px) {
    .home>h3{
        left: 22%;
    }
    .home>h1{
        left: 22%;
    }
    .home>h6{
        left: 22%;
    }
    #ira{

        width: 21%;
    }
    .hire-me{
        left: 22%;
    }
    .so{
        left: 38%;
    }

/*  About ME  */
    .cvButton{
        left: 80%;
    }
/*  End of Aboubt Me  */

/*Project Zone */
        #raumkotuwa {
            top: 7.5%;
            height: 6vh;
        }
        .projectZone>section{
            height: 63vh;
            width: 90vw;
        }

/*  End Project Zone     */
}
@media all and (max-width:1560px) {
    .home > h1 {
        font-size: 70px;
        top: 38.5%;
    }

    #ira {
        top: 38%;
    }

    .home > h3 {
        top: 37%;
        font-size: 30px;
    }

    .home > h6 {
        font-size: 20px;
    }

    .hire-me {
        width: 204px;
        height: 57px;
        top: 59%;
    }

    .so {
        left: 38%;
    }

    .home > h6 {
        top: 51%;
    }

    #logo {
        width: 25.1798152%;
        height: 37.078125%;
        top: 13%;
        left: 35%;
    }

    .so {
        top: 60.5%
    }

    #gold {
        width: 17%;
        height: 15%;
    }
/*  Specifiction  */
    #kotuwa3>div {

        column-gap: 3vw;

    }

/*  End Specification  */

    /*Project Zone */
    #raumkotuwa {
        top: 8.5%;
        left: 4.5%;
        height: 8vh;
    }
    .projectZone>section{
        margin-left: 80px;
    }

    /*  End Project Zone     */
}


@media all and (max-width:1460px){
    #kotuwa3>div {
        column-gap: 2vw;
    }
    /*Project Zone */
    #raumkotuwa {
        top: 8.5%;
        left: 4.5%;
        width: 37%;
    }
    #raumkotuwa>h1 {
     top: -49%;
    }
    /*  End Project Zone     */
}
@media all and (max-width:1420px){
    #kotuwa3>div {
        column-gap: 1vw;
    }
}
    @media all and (max-width:1224px){
    .hire-me{
        font-size: 25px;
        height: 40px;
        width: 150px;
    }

        /*Project Zone */
        #raumkotuwa {

            width: 44%;
        }
        #raumkotuwa>h1 {
            top: -67%;
        }
        .projectZone>section{
            height: 58vh;
            margin-left: 68px;
        }
        /*  End Project Zone     */
}

@media all and (max-width:1200px){
    /*Home page*/
    .home>h1{
        font-size: 50px;
        top:39.5%;
    }
    #logo {

        width: 21.1798152%;
        height: 35.078125%;
        left: 42%;
        top: 15%;
    }
    .so{
        top: 61%;
        left: 43%;
    }
    .home>h6{


        left: 21.9%;
        top:54%;
        font-size: 15px;
        font-weight: bold;
    }
    #ira {

        width: 21%;
        top: 39%;
        left: 0;

    }

    #gold{

        width: 20%;
        height: 15%;
        left: -4%;
        top: 1%;

    }
/* End of Home */
/*About Me*/
    .cvButton{
        left: 80%;
    }
    #p1{
        font-size: 30px;
    }
    #education{
        font-size: 40px;
    }
    #he{
        font-size: 25px;
    }
    .square1>ul>li{
        font-size: 20px;
    }
    #dree{
        font-size: 25px;
    }
    #exp{
        font-size: 40px;
    }
    .square2>ul>li{
        font-size: 20px;
    }
    .cvButton{
        font-size: 15px;
    }
    .photo{
        background-position: left;
    }
/* End of About Me*/
/*Project Zone*/
    #raumkotuwa>h1{
        font-size: 50px;
        top: -54%;
    }
/*  ENd PRoject Zone  */
}
@media all and (max-width:1280px){
/*About Me*/
    .home>h6{
        top: 55%;
    }
    #abtMe{
        font-size: 55px;
    }
    #education{
        font-size: 35px;
    }
    #he{
        font-size: 25px;
    }
    #dree{
        font-size: 25px;
    }
    .square1>ul>li{
        font-size: 20px;
    }
    .square2>ul>li{
        font-size: 20px;
    }
    .cvButton{
        font-size: 15px;
        height: 25px;
        width: 150px;
        left: 70%;
        top: 60%;
    }

    #exp{
        font-size: 35px;
    }
    #p1{
        font-size: 25px;
    }
/*  End of About Me  */

/*  Specification  */

    #kotuwa3{
        width: 90vw;
        left: 4%;
        margin-left: 2px;
        margin-bottom: 1vh;
    }
    #kotuwa3>div{
        margin-top: 15%;
       height: 90%;
    }
    #kotuwa3>div>p{
        width: 80%;

    }
/*  End Specification  */

    /*Project Zone */
    #raumkotuwa {
        width: 42%;
        top: 9.5%;
    }
    #raumkotuwa>h1{
       top: -5vh;
    }
    /*  End Project Zone     */

/*  Form  */
    .form>section>h1 {
        font-size: 68px;
    }
    .form>section>address>a:nth-child(1) {
        font-size: 30px;
    }
    #number{
        font-size: 30px;
    }
    .form>section>h5 {
        left: 34%;
    }
    .socials {
        left: 32%;
        top: 119%;
    }
    .form>form {

        width: 55%;

    }
    .footer-button {
        left: 22%;
        top: 67%;
    }
    #email {

        top: 16%;

        left: 5%;
    }
/*  End of Form  */
}
@media all and (max-width:1179px){
    #kotuwa>ul>li{
        font-size: 25px;
    }
    #kotuwa2>ul>li{
        font-size: 25px;
    }
}
@media all and (max-width:1135px){
    #kotuwa3>div {
        column-gap: 0;

        left: -4vw;

    }
    /*PRoject ZOne*/
    #raumkotuwa {
        width: 40%;
    }
    #raumkotuwa>h1 {
        top: -4vh;
    }
    .projectZone>section>div>h4 {
        font-size: 25px;
        margin: 10px;
        background: none;
    }
    .projectZone>section>div>p {
        font-size: 15px;
        margin: 10px;
        background: none;
    }
    .git-button{
        font-size: 10px;
        width: 100px;
        height: 20px;
    }
/*  ENd Project Zone  */
}
@media all and (max-width:1100px){
    #kotuwa3>div {
        left: -6vw;
    }

    /*PRoject ZOne*/
    #raumkotuwa {

        width: 43%;
    }
/*  ENd Project Zone  */
}
@media all and (max-width:1080px){
    #kotuwa3>div {
        margin-left: -19px;
    }
}
@media all and (max-width:895px){
    #kotuwa3>div {
        left: -5vw;
    }

}
@media all and (max-width:1024px){
    #kotuwa>h3 {
        position: absolute;

        font-size: 30px;
    }
    #kotuwa>ul>li {
        font-size: 20px;
    }

    #kotuwa2{
        height: 15%;

    }
    #kotuwa2>ul>li {
        font-size: 20px;
    }

/*   Specification */
    .specifation>h1 {
        top: 60%;
        font-size: 50px;
    }
    #kotuwa4 {
        top: 78%;
    }
    .img1{
        height: 10vh;
        width: 7vw;
    }
    .topic2{
        /*font-size: 15px;*/
        line-height: 20px;
    }
    #kotuwa3 {
        width: 84vw;
        height: 32vh;
        left: 5%;
        top: -77%;
    }
    #kotuwa3>div{

        margin-left: 19%;
    }
    #kotuwa3>div>h4{
        font-size: 15px;
    }
    #kotuwa3>div>p{
        font-size: 10px;
        margin-top: 10px;
    }

        /*  End sepecification  */

    /*PRoject ZOne*/
    .projectZone{
        position: relative;
        top: 0.01%


    }
    .projectZone>h1 {
        top: 3%;
        font-size: 50px;
    }
    #raumkotuwa{
        height: 9%;
        top: 6.5%;
        width: 45%;
    }
    /*  ENd Project Zone  */

/*  Form  */
    .form>section>h1 {
        font-size: 54px;
    }
    .form>section>h5 {
        font-size:45px;
        top: 58%;
    }
/*  ENd of Form  */
}
@media all and (max-width:1000px){
    /*About ME*/
    #kotuwa>h3{

        font-size: 30px;
    }

    #kotuwa>ul>li{

        font-size: 20px;
    }
    #dree{
        font-size: 30px;
    }
    #kotuwa>ul>li{
        font-size: 20px;
    }
    /*ENd About ME*/
    #raumkotuwa {
        font-size: 55px;
    }
    .form>section>address>a:nth-child(1) {
        font-size: 20px;
    }
    #number{
        font-size: 20px;
    }
}
@media all and (max-width:955px){
    #logo {

        width: 21.1798152%;
        height: 30.078125%;
        left: 47%;
        top: 18%;
    }
    .so{
        top: 61%;
        left: 47%;
    }
    /*  About Me  */
    #abtMe{
        font-size: 50px;
    }
    #p1{
        font-size: 20px;
    }
    #education{
        font-size: 40px;
    }
    #exp{
        font-size: 40px;
    }
    #he{
        font-size: 25px;
    }
    #dree{
        font-size: 25px;
    }

    .square1>ul>li {
        font-size: 20px;
    }
    #kotuwa{
        height: 25%;
    }
    .cvButton {
        font-size: 10px;
        height: 20px;
        left: 73%;
        width: 100px;
        top: 71%;
    }
    #kotuwa2{
        height: 11%;
    }
    .square2>ul>li {
        font-size: 20px;
    }
    /*  End of About Me */

/*  Specification  */
    #kotuwa3>div {
        left: -3vw;
    }
/*  End SPecification  */

/*  Project Zone  */
    #raumkotuwa{
        left: 5%;
    }
/*  ENd Project Zone  */
}
@media all and (max-width:930px){
    #raumkotuwa{
        width: 46%;
    }
    .git-button{
        width: 9vw;
    }
}
@media all and (max-width: 912px){

    /*Specification*/
    #kotuwa3{
        height: 30vh;
    }
    #kotuwa3>div{
        margin-top: 25%;
    }
        #kotuwa3>div>h4{
            font-size: 20px;
        }
    #kotuwa3>div>p{
        font-size: 15px;
    }
    /*End Speficication*/

    /*Project Zone*/
    #raumkotuwa>h1 {
        font-size: 49px;
        top: -40%;
        left: -1%;
    }
    #raumkotuwa{
        height: 5vh;
    }
    .projectZone>section>div>img {
        height: 30vh;
        width: 30vw;
    }
    .projectZone>section{
        left: 0;
        right: 0;
        margin: auto;
    }
    /*End Project Zone*/

    #kotuwa2>ul {
        position: absolute;
        top: -11%;
        width: 100%;
        font-size: 25px;
    }

    .form>section>h1 {
        font-size: 48px;
        left: 8%;
        top: 5%;
    }
    .form>section>address>a:nth-child(1) {
        left: 15%;
        top: 30%;
    }
    #number {
        left: 19%;
        top: 49%;
    }
    .form>section>h5 {
        font-size: 45px;
        left: 21%;
    }
    .socials {
        left: 14%;
        top: 93%;
    }
    .form>form>fieldset {
        position: absolute;
        height: 68%;
        width: 70%;
        left: 5%;
        top: 5%;
    }
    .form>form>fieldset {
        position: absolute;
        height: 50%;
        width: 70%;
        left: -6%;
        top: 12%;
    }
    .footer-button {
        width: 140px;
        height: 40px;
        left: 20%;
        top: 69%;
    }
}
@media all and (max-width: 895px){
    /*  Specification  */
    #kotuwa3>div {
        left: -4vw;
    }
    /*  End SPecification  */

    /*  Project Zone  */
    #raumkotuwa{
        width: 43vw;
        height: 6vh;

    }
    #raumkotuwa>h1{
        font-size: 40px;
    }
    /*  ENd Project Zone  */
}
@media all and (max-width: 865px){
    /*  Specification  */
    #kotuwa3>div {
        left: -6vw;
    }

    /*  End SPecification  */
}
@media all and (max-width: 835px){
    /*  Specification  */
    #kotuwa3>div {
        left: -8vw;
    }

    /*  End SPecification  */
    /*  Project Zone  */
    #raumkotuwa{
        width: 51vw;
    }
    /*  ENd Project Zone  */
}

@media all and (max-width: 820px){
    #gold{
        height: 15%;
        width: 30%;
    }
    #logo{
        top: 23%;
        left: 55%;
        height: 25%;
    }
    .home>h6{
        font-size: 21px;
        top: 50%;
    }
    .so{
        left: 53%;
    }

/*  About Me  */

/*  End of About Me */

/*  Specification  */
    #kotuwa3{
        height: 30vh;
    }
    #kotuwa3>div{
        margin-top: 25%;
    }
    #kotuwa3>div>h4{
        font-size: 20px;
    }
    #kotuwa3>div>p{
        font-size: 15px;
    }
/*  End Specification  */

/*  Project Zone  */
    #raumkotuwa>h1{
        top: -2vh;
    }
    .projectZone>section>div>img{
        height: 25vh;
    }
/*End  Project Zone  */

/*  Form  */
    .form>section>h1 {
        font-size: 45px;
        left: -11%;
        top: -15%;
        width: 100vw;
    }

    .form>section>address>a:nth-child(1) {
        font-size: 20px;
        top: 10%;
        left: 55%;
    }
    #number {
        font-size: 20px;
        top: 23%;
        left: 63%;
    }
    #email {

        top: 16%;

        left: 5%;
    }
    .footer-button {

        width: 168px;
        height: 51px;

        left: 21%;
        top: 69%;
    }

    .socials{
        top: 154%;
        left: 59%;
        width: 100vw;
    }
    .form>section>h5{
        left: -2vw;
        top: 58vh;
        width: 100vw;
        font-size: 40px;
    }
    .form>form {
        left: 12%;
        top: 23%;
        height: 88%;
        width: 120%;
    }
/*  End of Form  */

}
@media all and (max-width: 815px){
    /*About ME*/
    #kotuwa {
        height: 29%;
    }
    /* ENd ABout ME*/
    /*  Specification  */
    #kotuwa3>div {

        margin-left: -30px;
    }

    /*  End SPecification  */

    /*  Project Zone  */
    #raumkotuwa{
        width: 46vw;
        height: 7%;
    }
    /*  ENd Project Zone  */
    .projectZone>h1{
        left: 4%;
        top: 6%;
        font-size: 40px;

    }
}
@media all and (max-width: 780px){
    #kotuwa>h3 {
        font-size: 25px;
    }
    #kotuwa3>div{
        margin-left: 12%;
    }

}
@media all and (max-width: 770px){
    #gold{
        width: 25%;
        height: 18%;
        left: -4%;
        top: 1%;

    }
    #logo {

        width: 25.1798152%;
        height: 25.078125%;
        left: 53%;
        top: 22%;
    }
    .home>h6{
        left: 21.9%;
        top:56%;
        font-size: 15px;
        font-weight: bold;
    }
    .so{
        top: 61%;
        left: 50%;
    }
    .hire-me{

        left: 20.9%;
        top:60%;
        width: 190px;
        height: 50px;
    }
/*    About ME*/
    #kotuwa2>ul>li {
        font-size: 20px;
    }
/*  End  About ME*/

/*  Specificaton  */
    .specifation> h2 {
        top: 5vh;
        font-size: 40px;
    }
    .specifation>h1 {

        font-size: 40px;

    }
/*  End Specification  */

/*  Project Zone  */
    #raumkotuwa>h1{
        top: -30%;
    }
    .projectZone>section{
        height: 51vh;
        margin-left: 46px;
    }
    }
    /* ENd Project Zone  */


@media all and (max-width: 620px){
    #he {
        font-size: 20px;
    }
    #dree{
        font-size: 20px;
    }
    .cvButton{
    left: 79vw;
    }

/*  Project Zone  */
    #raumkotuwa{
        width: 57vw;
    }
    .git-button{
      width: 15vw;
    }
/*  End Project Zone  */
}
@media all and (max-width: 633px){
    #raumkotuwa>h1{
        font-size: 30px;
        top: -2vh;
    }


/*  Skill  */
    #kotuwa4>div{
        margin-top: 3%;
    }
    #kotuwa4>div>img {

        height: 75%;
    }
/*  End SKill  */
}
    @media all and (max-width: 650px){
        #gold{
            left: -14%;
            width: 284px;
            height: 157px;
        }
        #logo{
            width: 347px;
            height: 460px;
            left: 15%;
            opacity: 50%;

        }
        .home>h3{
            font-size: 22px;
            left: 10%;
            width: 100vw;
            top: 35%;
        }
        .home>h1{
            text-align: center;
            font-size: 50px;
            left: 0;
            top: 37%;
        }
        .hire-me{
            left: 7%;
            top: 73%;
        }
        .home>h6{
            top: 58%;
            text-align: center;
            left: 5%;
            font-size: 20px;
        }
        #ira{
            top: 69%;
            width: 90vw;
            left: 4%;
        }
        .so{
            top: 74%;
            justify-content: left;
            left: 54%;
        }
        /*About Me*/
        .cvButton {

            left: 70%;

            top: 66%;
        }
        #kotuwa>h3 {
            font-size: 20px;
        }
        #kotuwa>ul>li {
            font-size: 15px;
        }
        #kotuwa2>ul>li {
            font-size: 15px;
        }
        /* ENd About Me*/

    /*  Project Zone  */
        #raumkotuwa{
            width: 54vw;
        }
    /*  End Project Zone  */

    }
@media all and (max-width: 540px){
    /*About Me*/
    .square1 {

        left: 4%;
        top: 52%;

    }
    #education{
        top: 45%;
        left: 4%;
        font-size: 30px;
    }
    #exp{
        font-size: 30px;
        left: 3%;
        top: 79%;
    }
    #abtMe {
        font-size: 50px;
    }
    #he{
        font-size: 20px;
    }
    #dree{
        font-size: 20px;
    }
    #kotuwa2 {

        height: 10%;
        width: 94%;


        top: 84%;
        left: 3%;

    }
    #kotuwa{
        top: 51%;
        left: 3%;
        height: 26%;
        width: 94%;
    }
    .photo{
        top: 15%;
        height: 25%;
        width: 25%;
    }
    #p1{
        text-align: center;
        width: 50%;
        left: 40%;
        font-size: 20px;
    }
    .square2>ul{
        left: 2%;
        top: 82%;
    }
    .cvButton {
        font-size: 10px;
        height: 25px;
        left: 70%;
        width: 115px;
        top: 50%;
    }
    /*  ENd of Aboubt Me  */

/*  Specification  */
    #kotuwa3>div>h4{
        font-size: 15px;
    }
    #kotuwa3>div>p{
        font-size: 10px;
    }
/* End Specification  */

/*  Project ZOne  */
    #raumkotuwa{
        width: 64vw;
    }
    .projectZone>section{
        margin-left: 29px;
        height: 39vh;
    }
/* End Project ZOne  */

/*  Form  */
    .socials {
        width: 63vw;

        top: 150%;
        left: 39%;
    }
    .form>section>h5 {
        top: 101%;
        left: 50%;
       width: 43vw;
        font-size: 35px;
    }
    .form>form {
        left: 23%;
        top: 19%;
        height: 86%;
        width: 69%;
    }
    .form>section>h1 {
        width: 50vw;
        font-size: 35px;
        left: 44%;
        top: -24%;
    }
    .form>section>address>a:nth-child(1) {
        font-size: 15px;
        top: 5%;
        left: 51%;
    }
    #number {
        font-size: 15px;
        top: 17%;
        left: 62%;
    }
    .form>form>fieldset>legend {
        font-size: 30px;
    }
    .form>form>fieldset {


        width: 114%;
        left: -26%;
        top: 11%;
    }
    .footer-button {
        width: 119px;
        height: 33px;
        left: 32%;
        top: 79%;
        font-size: 15px;
    }
    #name {
        position: absolute;
        top: -1%;
        height: 9%;
        border: none;
        left: 5%;
    }
    #email {
        top: 12%;
        left: 5%;
        height: 9%;
    }
    #massage {

        top: 39%;
    }
    #subject {
        height: 9%;
        top: 25%;
    }
/*  End Form  */
}
@media all and (max-width: 414px){
    /*About Me*/
    #p1{
        top: 16%;
        font-size: 20px;
    }
    #kotuwa{
        height: 22%;
    }


    .cvButton {
        top: 61%;
        left: 68%;
        height: 25px;
        width: 100px;
        font-size: 10px;
    }
    #kotuwa2{
        height: 9%;
        width: 95vw;
        top: 84%;
        left: 2%;
    }
    #exp{
        top: 79%;
        left: 3%;
        font-size: 30px;
    }
    #education{
        font-size: 30px;
    }
    #dree{
        font-size: 20px;
    }
    #he{
        font-size: 20px;
    }

    #gold{
        height: 20%;
        width: 50%;
        left: -10%;
        top: 0;
    }
    #logo{
        height: 30%;
        width: 30%;
        z-index: 0;
        top: 18%;
        left: 57%;
    }
    .hire-me{

        left: 8.9%;
        top:73%;
        width: 100px;
        height: 40px;
        font-size: 20px;
    }
    .so{
        top: 74%;
        left: 50%;

    }
    /*    ENd of Abount ME*/

    /*Specification*/
    #kotuwa3{
        height: 30vh;
    }
    #kotuwa3>div{
        margin-top: 50%;
    }
    #kotuwa3>div>h4{
        font-size: 11px;
    }
    #kotuwa3>div>p{
        font-size: 8px;
    }
    #kotuwa3>div>img{
        height: 30%;

    }
    #kotuwa4{
        height: 8%;
    }
    /*End Specification*/

    /*  Project ZOne  */
    #raumkotuwa{
        width: 67vw;
        height: 5vh;
    }
    .projectZone>section{

        left: 0;
        right: 0;
        margin: auto;
        height: 30vh;
    }
    .projectZone>section>div>img{
        height: 15vh;
        width: 30vw;
    }
    .projectZone>section>div>h4{
        font-size: 20px;
    }
    .projectZone>section>div>p{
        font-size: 14px;
    }
    .git-button{
        width: 18vw;
    }
    /* End Project ZOne  */

    /*  Last Form  */
    .form>section>h1{
        left: 1%;
        top: -17%;
        font-size: 40px;
        width: 100vw;
    }
    .form>section>address>a:nth-child(1){
        top: 6%;
        left: 35%;
        font-size: 20px;
    }
    #number{
        font-size: 20px;
        left: 53%;
        top: 14%;
    }
    .form>form>fieldset>legend {
        font-size: 35px;
        background: none;
    }
    .form>form {
        position: absolute;
        left: 7%;
        top: 26%;
        height: 65%;
        width: 104%;
        background: none;
    }
    .footer-button{

        width: 169px;
        height: 50px;
        left: 19%;
        top: 68%;
    }
    .form>section>h5 {
        left: -6%;
        top: 116%;
        width: 100vw;
        font-size: 30px;
    }
    .socials {
        width: 100vw;
        left: 23%;
        top: 152%;

    }
    #email {
        top: 16%;
        width: 66%;
        left: 5%;
    }
    .footer-button {
        width: 140px;
        height: 40px;
        left: 23%;
        top: 83%;
    }
    /*  End of Last Form  */
}
@media all and (max-width: 422px){
    .form>form>fieldset {

        height: 77%;
        width: 70%;
        left: -2%;
        top: 3%;
    }
    .form>form {
        left: 3%;
        top: 25%;
        height: 63%;
        width: 120%;
    }
    .form>section>h5 {
        top: 110%;
    }
    .socials {
        width: 81vw;

        left: 25%;
    }
}
@media all and (max-width: 393px){
    /*About Me*/
    .so{

    }
    .hire-me{

        left: 8.9%;
        top:73%;
        width: 100px;
        height: 40px;
        font-size: 20px;
    }
    #abtMe{
        top: 3%;
        font-size: 40px;
    }
    #p1{
        top: 17%;
        font-size: 18px;
    }
    .photo{
        top: 14%;
        width: 32%;
    }
    #education{
        font-size: 25px;
        top: 43%;
    }
    #he{
        font-size: 15px;
    }
    #kotuwa>ul>li {
        font-size: 10px;
    }
    #dree{
        position: absolute;
        font-size: 15px;
        top: 50%;
    }
    #kotuwa{
        top: 48%;
        height: 19%;
    }
    .square1 {
        top: 49%;
    }
    #exp{
        font-size: 25px;
        top: 72%;
    }
    .cvButton{
        font-size: 10px;
    }
    #kotuwa2>ul>li {
        font-size: 10px;
    }
    #kotuwa2{
        top: 78%;
        height: 8%;
    }
    .cvButton{
        top: 56%;
        left: 65%;
        height: 20px;
        width: 100px;
    }
    .square2>ul {
        left: 0;
        top: 76%;
    }
    /*End of Abount Me*/

    /*Project Zone*/
    .projectZone>section>div>h4 {
        font-size: 18px;
    }
    .projectZone>section>div>p {
        font-size: 12px;
    }
    /*End Project Zone*/

    /*Form*/
    .form>section>h1 {
        top: -27%;
    }
    .form>section>address>a:nth-child(1) {
        top: 2%;
        left: 28%;
    }
    #number {
        left: 48%;
        top: 12%;
    }

    .socials {
        width: 100vw;
        top: 157%;
    }
    .form>section>h5 {
        top: 112%;
    }

    .footer-button {
        width: 107px;
        height: 31px;
        left: 25%;
        top: 69%;
        font-size: 10px;
    }
    /*ENd of Form*/
}

@media all and (max-width: 375px){

    #gold{
        height: 20%;
        width: 50%;
        left: -10%;
        top: 0;
    }
    #logo{
        height: 40%;
        width: 40%;
        z-index: 0;
        top: 13%;
        left: 51%;
    }
    .home>h3{
        z-index: 1;
        left: 4%;
        top: 31%;
    }
    .home>h1{
        z-index: 1;
        top: 34%;
    }
    .home>h6{
        z-index: 1;
    }
    .so{
        left: 50%;
        top: 74%;
    }
    .hire-me{

        left: 8.9%;
        top:73%;
        width: 100px;
        height: 40px;
        font-size: 20px;
    }
/*    About ME*/
    #kotuwa{
        height: 23%;
    }
    #exp{
        top: 76%;
    }

    #kotuwa2{
        height: 9%;
        top: 82%;
    }
    .cvButton{
        top: 60%;
        left: 68%;
    }
/*   End abt Me */
}
@media all and (max-width: 280px){
    .home>h1{
        top: 36%;
        font-size: 38px;

    }
    .so{
        left: 45%;
        top: 80%;
    }
    .cvButton{
        left: 50%;
    }
/*  About Me  */
    #p1 {
        top: 17%;
        font-size: 13px;
    }
    .cvButton {
        top: 68%;
        left: 68%;
        font-size: 8px;
        height: 16px;
        width: 73px;
    }
    #kotuwa>h3{
        font-size: 15px;
    }
    #kotuwa2>ul {
        position: absolute;
        left: -6%;
        top: -34%;
        width: 100%;
        font-size: 25px;
    }
    #kotuwa2>ul>li {
        font-size: 10px;
    }
    #kotuwa>ul>li {
        font-size: 10px;
    }
/* End of About Me   */
/*  Spesification  */

    #kotuwa3>div {
        margin-left: 15%;
        margin-right: 15%;

    }
    .specifation>h2{
        font-size: 25px;
    }
    .specifation>h1{
        font-size: 25px;
        top: 65vh;
    }
    #kotuwa3>div>h4{
        line-height: 10px;
        font-size: 8px;
        height: 20%;
    }
    #kotuwa3>div>p{

        margin-top: 0;
        font-size: 6px;
        height: 20%;
    }
/* End Spesification  */

/*  Project Zone  */
    #raumkotuwa>h1 {
        font-size: 25px;

    }
    #raumkotuwa{
        height: 6vh;
    }

    .projectZone>section>div>img{
        width: 30vw;
        height: 10vh;
    }
    .projectZone>section>div>h4{
        font-size: 15px;
        margin: 0;
        margin-top: 2vh;
    }
    .projectZone>section>div>p{
        font-size: 10px;
        margin: 0;
        margin-top: 2vh;
    }
    .git-button{
        margin-top: 1vh;
        width: 25vw;
        font-size: 10px;
    }
    .projectZone>section{
        left: 0;
        right: 0;
        margin: auto;
    }
/* End Project Zone  */

/*  Form  */
    .socials>a {
        background: none;
        margin: 9px;
    }
    .form>section>h1 {

        font-size: 30px;

    }
    .form>section>address>a:nth-child(1) {

        font-size: 10px;
    }
    .form>section>address>a:nth-child(1) {
        top: -1%;
        left: 49%;
    }
    #number {
        font-size: 10px;
        left: 58%;
        top: 9%;
    }
    .form>form>fieldset {
        top: -5%;
    }
    .form>form>fieldset>legend {
        font-size: 25px;

    }
    #name {
        width: 65vw ;
    }
    .footer-button {
        width: 91px;
        height: 26px;
        left: 25%;
        top: 86%;
        font-size: 10px;
    }
    #email {
        top: 12%;
    }
/* ENd Of FOrm  */
}
/*End of Home page*/



/*Animation*/

/*Home*/
#gold:hover{
    transition: 2s;
    rotate: 360deg;
}


#twitter:hover{
    transition: 1s;
    transform: scale(2);
}
#instagrame:hover{
    transition: 1s;
    transform: scale(2);
}
#linkedIn:hover{
    transition: 1s;
    transform: scale(2);
}
#gitHub:hover{
    transition: 1s;
    transform: scale(2);
}



/*End Home*/

/*About Me*/

.photo:hover{
    border-radius: 30px;
    transform: rotateY(30deg);
    transition: 1s;
    cursor: pointer;
}

#kotuwa:not(:hover){

    transition: 1s;
    background-color: rgb(118, 114, 114, 0.6);
    cursor: pointer;
}
#kotuwa:hover{
    transition: 1s;
    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}
#kotuwa2:hover{
    transition: 1s;
    background: rgba(0, 0, 0, 0.6);
}
#kotuwa2:not(:hover){

    transition: 1s;
    background-color: rgb(118, 114, 114, 0.6);
    cursor: pointer;
}
/*End About Me*/

/* Spesification */

#kotuwa4:hover{
    transition: 1s;
    background: rgba(0, 0, 0, 0.6);
}
#kotuwa4:not(:hover){

    transition: 1s;
    background-color: rgb(118, 114, 114, 0.6);
    cursor: pointer;
}
#kotuwa3:hover{
    transition: 1s;
    background: rgba(0, 0, 0, 0.6);
}
#kotuwa3:not(:hover){

    transition: 1s;
    background-color: rgb(118, 114, 114, 0.6);
    cursor: pointer;
}

#kotuwa3>div:nth-child(1):hover{
    transition: 1s;
    transform: scale(1.4);
    cursor: pointer;

}
#kotuwa3>div:nth-child(1):not(:hover){
    transition: 1s;
    transform: scale(1);
}
#kotuwa3>div:nth-child(2):hover{
    transition: 1s;
    transform: scale(1.4);
    cursor: pointer;

}
#kotuwa3>div:nth-child(2):not(:hover) {
    transition: 1s;
    transform: scale(1);
}
#kotuwa3>div:nth-child(3):hover{
    transition: 1s;
    transform: scale(1.4);
    cursor: pointer;

}
#kotuwa3>div:nth-child(3):not(:hover) {
    transition: 1s;
    transform: scale(1);
}
#kotuwa3>div:nth-child(4):hover{
    transition: 1s;
    transform: scale(1.4);
    cursor: pointer;

}
#kotuwa3>div:nth-child(4):not(:hover) {
    transition: 1s;
    transform: scale(1);
}

#kotuwa4>div:nth-child(1):hover{
    transition: 1s;
    rotate: 15deg;

    cursor: pointer;

}
#kotuwa4>div:nth-child(1):not(:hover){
    transition: 1s;
    rotate: 0deg;


}
#kotuwa4>div:nth-child(2):hover{
    transition: 1s;
    rotate: 15deg;
    cursor: pointer;

}
#kotuwa4>div:nth-child(2):not(:hover){
    transition: 1s;
    rotate: 0deg;


}
#kotuwa4>div:nth-child(3):hover{
    transition: 1s;
    rotate: 15deg;
    cursor: pointer;

}
#kotuwa4>div:nth-child(3):not(:hover){
    transition: 1s;
    rotate: 0deg;


}
#kotuwa4>div:nth-child(4):hover{
    transition: 1s;
    rotate: 15deg;
    cursor: pointer;

}
#kotuwa4>div:nth-child(4):not(:hover){
    transition: 1s;
    rotate: 0deg;


}
#kotuwa4>div:nth-child(5):hover{
    transition: 1s;
    rotate: 15deg;
    cursor: pointer;

}
#kotuwa4>div:nth-child(5):not(:hover){
    transition: 1s;
    rotate: 0deg;


}
/*End Spesification */

/*Project Zone*/
#raumkotuwa:hover{
    transition: 1s;
    border-color: #FA981D;
    border-radius: 0;
    background: none;
    cursor: pointer;
}
#raumkotuwa:not(:hover){
    transition: 1s;
    border-color: #FA981D;


}

.projectZone>section>div:nth-child(1):hover{
    transition: 1s;
    rotate: 5deg;
    perspective: 5000px;
    cursor: pointer;

}
.projectZone>section>div:nth-child(1):not(:hover){
    transition: 1s;
    rotate: 0deg;
    perspective: 0;


}
.projectZone>section>div:nth-child(2):hover{

    transition: 1s;
    rotate: 5deg;
    perspective: 5000px;
    cursor: pointer;

}
.projectZone>section>div:nth-child(2):not(:hover){
    transition: 1s;
    rotate: 0deg;
    perspective: 0;


}
.projectZone>section>div:nth-child(3):hover{
    transition: 1s;
    rotate: 5deg;
    perspective: 5000px;
    cursor: pointer;

}
.projectZone>section>div:nth-child(3):not(:hover){
    transition: 1s;
    rotate: 0deg;
    perspective: 0;


}

.projectZone>section>div:nth-child(1)>img:hover{
    border-radius: 30px;
    transform: rotateX(30deg);
    transition: 1s;
}
.projectZone>section>div:nth-child(1)>img:not(:hover){
    border-radius: 0;
    transform: rotateX(0deg);
    transition: 1s;
}
.projectZone>section>div:nth-child(2)>img:hover{
    border-radius: 30px;
    transform: rotateX(30deg);
    transition: 1s;
}
.projectZone>section>div:nth-child(2)>img:not(:hover){
    border-radius: 0;
    transform: rotateX(0deg);
    transition: 1s;
}
.projectZone>section>div:nth-child(3)>img:hover{
    border-radius: 30px;
    transform: rotateX(30deg);
    transition: 1s;

}
.projectZone>section>div:nth-child(3)>img:not(:hover){
    border-radius: 0;
    transform: rotateX(0deg);
    transition: 1s;
}
.git-button:hover{
    transition: 1s;
    transform: scale(1.2);

}
.git-button:not(:hover){
    transition: 1s;
    transform: scale(1);

}
/*End Animation*/